html,
body {
  padding: 0px;
  margin: 0px;
}
/* 
h1 {
  font-size: 65px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 24px;
} */
p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  /* color:#fff; */
}
/* i{
    color:#fff;
  } */

.container {
  width: 80%;
  margin: auto;
}
.container-2 {
  width: 70%;
  margin: auto;
}
.container-fluid {
  width: 92%;
  margin: auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.margin-auto {
  margin: auto;
}
.justify-content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-basis {
  flex-basis: 0;
  flex-grow: 1;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
  flex-grow: 1;
}

.link {
  color: #000;
}
.v-h-center {
  display: flex;
  margin: auto;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }
}
