body,
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
}
/* header desktop */
.header {
  background: #24292e;
  height: 80px;
  color: #fff;
}
.bars {
  display: none;
}
.github-logo-container,
.bars {
  flex-basis: 5%;
}
.github-logo {
  font-size: 42px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.header-menu {
  flex-basis: 85%;
}
#header-menu form,
#header-menu li {
  margin-right: 16px;
}
.header-menu li a {
  color: rgba(255, 255, 255);
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
}
.header-menu li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
#sign-out,
#dashboard {
  display: none;
}

#search-repo {
  color: #fff;
  background: #24292e;
  width: 100%;
}
.search-repo-header {
  color: #fff;
  width: 100%;
  padding: 5px 10px;
  background: none;
  border: 0;
  box-shadow: none;
  border: 0.2px solid#fafbfc;
  border-radius: 5px;
}
.header-right {
  justify-content: space-between;
  flex-basis: 10%;
}
.fa-plus {
  margin-right: 5px;
}
#profile-pic-header {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.profile-menu {
  display: none;
}
#profile-pic-menu {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* body */
/* profile picture , username, name and bio */

.main {
  margin: auto;
  width: 95%;
  margin-top: 25px;
}
.profile {
  flex-basis: 30%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px 0px 0px;
}
#profile-pic {
  width: 100%;
  border-radius: 50% !important;
}
.user-full-name {
  font-size: 26px;
  line-height: 1.25;
  color: #24292e;
}
.username {
  font-size: 20px;
  color: #586069;
}
.bio {
  font-size: 16px;
  color: #24292e;
}
.bio-mobile {
  display: none;
}

/* repo section by the right */
.repo-head {
  width: 100%;
  overflow-x: auto;
  margin-left: -25px;
}
.repo-head li {
  padding-bottom: 15px;
  margin-bottom: -12px;
}
.repo-head li a {
  color: #24292e;
  margin-right: 20px;
  font-size: 14px;
  white-space: nowrap;
}
#find-repo {
  padding: 5px 12px;
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  outline: none;
  box-shadow: var(--color-shadow-inset);
  border: 0.15px solid #e1e4e8;
}
#hr-a-find-repo {
  color: #e1e4e8;
  opacity: 0.4;
}
.repos {
  width: 95%;
  margin: auto;
}
.repocountp {
  width: 50%;
  border-bottom: 0.1px solid #e1e4e8;
  padding-bottom: 15px;
  font-size: 14px;
}
#find-repo:focus {
  border: 0.5 solid #0366d6;
  outline-color: #0366d6;
}
.repo-head-icon {
  margin: 0px 4px 0px 0px;
}
.active {
  border-bottom: 2.5px solid rgb(247, 10, 10);
}
#repoCount {
  font-weight: bold;
}
/* repo container */
.repo-container,
#repo-info {
  width: 100%;
}
.repo-info div {
  display: flex;
  padding: 5px 0px;
}
.repo-info .left-info {
  align-items: center;
}
.left-repo-con {
  display: flex;
  flex-direction: column;
}
.repo-info .star-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.repo-name {
  color: #0366d6;
  font-size: 20px;
  font-weight: bolder;
}
.repo-description {
  font-size: 14px;
  color: #586069;
}
#repo-number {
  color: #24292e;
  background: #efeff0;
  padding: 0px 6px;
  border-radius: 15px;
  font-size: 12px;
  margin: 0px 0px 0px 4px;
}

.fSCountContainer {
  align-items: center;
  margin: 0;
}
.fSCountContainer span,
.fSCountContainer div {
  display: flex;
  margin-right: 8px;
  font-size: 12px;
  white-space: nowrap;
  margin: 0;
  margin-right: 5px;
  color: #586069;
}
.fSCountContainer div span {
  white-space: nowrap;
}
.primary-language-color-c {
  display: flex;
  align-items: center;
}
.primary-language-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
#repo-count {
  font-weight: bolder;
}
.if-forked {
  font-size: 12px;
  line-height: 25px;
}
.fork-count::before {
  font-family: "FontAwesome";
  content: "\f126";
  font-weight: bold;
}
.star-container {
  width: 30%;
  margin: auto;
  display: flex;
  white-space: nowrap;
  color: #24292e;
}
.star-con,
.unstar-con {
  padding: 3px 12px;
  font-size: 12px;
  background: #fafbfc;
  color: #24292e;
  border-radius: 5px;
  border: 0.03px solid #24292e;
}
.star-count::before {
  font-family: "FontAwesome";
  content: "\f006";
  font-weight: bold;
}
.unstar-con::before {
  font-family: "FontAwesome";
  content: "\f005";
  opacity: 0.6;
}

/* medi
a queries
 */
@media screen and (max-width: 768px) {
  /* header */
  .header-menu {
    display: none;
    position: absolute;
    top: 78px;
    background: #24292e;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 0;
    padding-left: 0px;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
  }
  .bars {
    display: flex;
    font-size: 24px;
  }
  .bars,
  .github-logo,
  .header-right {
    flex-basis: 100%;
  }
  .header-menu form {
    width: 90%;
    margin: auto;
  }
  .header-menu form input {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .header-menu {
    margin: auto;
  }
  .header-menu li {
    border-bottom: 0.001px solid rgba(238, 236, 236, 0.5);
    line-height: 35px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .header-menu li a {
    line-height: 45px;
  }
  #codespaces {
    display: none;
  }
  #sign-out {
    border-bottom: none;
    display: block;
  }
  #dashboard {
    display: block;
    border-top: 0.001px solid rgba(238, 236, 236, 0.5);
  }
  .header-right {
    justify-content: flex-end;
  }
  .header-right div,
  #fa-plus {
    display: none;
  }
  .profile-menu {
    display: flex;
  }

  /* body */
  .main {
    width: 90%;
  }
  .profile {
    width: 100%;
    display: flex;
  }
  .profile-pic-con {
    width: 30%;
  }
  .name-fullname {
    width: 70%;
  }
  #profile-pic {
    width: 80%;
  }
  .repos {
    width: 100%;
    margin: auto;
  }
  .bio-desktop {
    display: none;
  }
  .bio-mobile {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .repocountp {
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .repocountp {
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
  .repocountp {
    width: 95%;
  }
}
